
.leftSide{
}

.title{
    margin: 0;
    color: #000;
    font-family: "Ferry", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

.info{
    margin-top: 25px;
    margin-bottom: 47px;
}

.info p{
    margin: 0;
}

.search{

}

@media screen and (max-width: 1021px){
    .leftSide{
        display: flex;
        flex-direction: column;
    }
    .title{
        align-self: flex-start;
        width: calc(100% - 100px);
    }

    .info{
        width: calc(100% - 100px);
        margin-top: 19px;
        margin-bottom: 21px;
    }
}
