.humburger {
    display: none;
}

.menuIcon {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.menuLine {
    display: block;
    position: relative;
    background: #029491;
    height: 5px;
    width: 30px;
}

.menuLine::before, .menuLine::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #029491;
}

.menuLine::before {
    transform: translateY(-10px);
}

.menuLine::after {
    transform: translateY(10px);
}

.menuBtn{
    position: absolute;
    top: -100px;
}

.menuBtn:focus ~ .menuIcon .menuLine::before {
    transform: translateY(-10px);
}

.menyBtn:focus ~ .menuIcon .menuLine::after {
    transform: translateY(10px);
}

@keyframes openTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes openMid {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes openBtm {
    0% {
        transform: translateY(5px) rotate(0deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closedTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closedMid {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes closedBtm {
    0% {
        transform: translateY(5px) rotate(0deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@media screen and (max-width: 800px) {
    .humburger{
        display: flex;

        justify-content: center;
        align-items: center;
        width: 30px;
        height: 25px;
    }

    .menuLine {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;
    }
    .menuLine::before {
        animation: closedTop 0.8s backwards;
        animation-direction: reverse;
    }
    .menuLine::after {
        animation: closedBtm 0.8s backwards;
        animation-direction: reverse;
    }

    .menuBtn:checked ~ .menuIcon .menuLine {
        animation: openMid 0.8s forwards;
    }
    .menuBtn:checked ~ .menuIcon .menuLine::before {
        animation: openTop 0.8s forwards;
    }
    .menuBtn:checked ~ .menuIcon .menuLine::after {
        animation: openBtm 0.8s forwards;
    }


}