.navbar{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navLink{
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;

    text-decoration: none;
}

.navLink:hover{
    color: #029491;
}

@media screen and (max-width: 800px) {
    .navbar{
        display: none;
    }
}