
.socialLogin{
    margin-top: 30px;
    align-self: flex-start;
}

.socialLogin p{
    margin: 0;
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.socialLoginButtons{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.socialLoginButton{
    cursor: pointer;
    width: 96px;
    height: 31px;
    border: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.socialLoginButton img{
    height: 100%;

}