.headerAuth{
    display: flex;
    align-items: center;
    margin-right: 60px;
    width: 20%;
    min-width: 220px;
    justify-content: space-between;
}

.line{
    width: 2px;
    height: 26px;
    opacity: 0.6;
    background: #029491;
}

.authButton{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;

    opacity: 0.4;

    cursor: pointer;
    text-decoration: none;
}

.loginButton{
    width: 65px;
    height: 26px;
    border-radius: 5px;
    background: #7CE3E1;

    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

@media screen and (max-width: 800px) {
    .headerAuth{
        display: none;
    }
}