.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 137px;
    background: #029491;
}

.footerLogo {
    margin-left: 60px;
}

.footerText {
    display: flex;
    flex-direction: column;

    gap: 21px;

    margin-right: 45px;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerText p{
    margin: 0;
}

.footerInfo {
    color: #FFF;
    font-size: 14px;
}

.footerCopyright {
    color: #FFF;
    font-size: 12px;
}

@media screen and (max-width: 950px){
    .footerLogo {
        margin-left: 18px;
        margin-bottom: 38px;
    }

    .footerLogo img{
        width: 111px;
        height: 111px;
    }

    .footerText{
        margin-right: 19px;
    }
    
}