.section{
    display: flex;
    flex-direction: column;

    width: auto;

    margin-top: 93px;
    padding: 24px 60px;
}

.title{

}

@media screen and (max-width: 1021px){
    .section{
        padding: 24px 17px 0 14px;
    }
}