
.rightSide{

}

.title{
    color: #000;
    font-family: "Ferry", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    margin: 0;
}

.info p{
    margin: 0;
}

.searchForm{

}