.section{
    display: flex;

    min-height: 892px;
    width: auto;

    margin-top: 93px;
    padding: 24px 60px;
}

@media screen and (max-width: 1021px){
    .section{
        flex-direction: column;
    }
}

