.section{
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 80px 60px 24px 60px;
}

.title{
    margin: 0;
    color: #000;
    font-family: Ferry, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: .45px;
}

.reasons{
    /*display: flex;*/
    z-index: 5;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*gap: 30px;*/
}

.imageContainer img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1021px) {
    .section{
        padding: 2px 19px 55px 18px;
    }

    .imageContainer img{
        width: 175%;
    }
}